
* {
    margin: 0;
    padding: 0;
}


.navbar {
    padding: 20px;
    background-color: #F0F0F0;
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    width: 600px;
    height: 800px;
    border-radius: 10px;
    
}

.navbar a, .navbar strong {
    margin-right: 15px;
}


main {
    flex-direction: row;
    overflow-y: scroll;
    z-index: 100;
}


header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.carousel-slide img {
    width: 300px;
    height: 300px;
    
}
/*
#map {
    height: 500px;
    width: 100%;
}
*/

.carousel-container{
    width: 80%;
    margin: auto;
    border: 10px solid black;
}

.carousel-slide{
    display: flex;
    width: 100%;
    height: 100%;
}
